@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:global(#app)
{
	font-family: "Open Sans", sans-serif;
	margin-top: 50px;

	& input
	{
		margin-bottom: 0.5rem;
	}

	& :global(.versions) > :global(.row) > :global(div:nth-child(2)) > :global(.modversion)
	{
		float: right;
	}
}
